/* 
    Dalam 'style.css' ini saya meng-overrite 
    bootstrap saja karena pengen experimen saja pak hehehe 
*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

body, p, td, li {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.card {
  /* border: none; */
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  /* ini untuk shadow saja */
  box-shadow: 0 8px 20px #0000001A;
}
